@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import "bulma.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.profile-image {
  border-radius: 50%;
}

.logo-border {
  border: 2px solid darkorange;
  border-radius: 10px;
  white-space: nowrap;
  float: left;
}

.loading {
  -webkit-animation: spinAround 600ms infinite linear;
  animation: spinAround 600ms infinite linear;
  border: 3px solid #3273dc;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1em;
  width: 1em;
}

.logo-text {
  color: white;
}

.display-linebreak {
  white-space: pre-line;
}

.media-left img {
  border-radius: 50%;
}

article.post {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e6eaee;
}

.timestamp {
  font-size: smaller;
  color: #8f99a3;
  display: inline-block;
  margin-left: 5px;
}

article.post:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
