@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import "bulma.css";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.profile-image {
  border-radius: 50%;
}

.logo-border {
  border: 2px solid darkorange;
  border-radius: 10px;
  white-space: nowrap;
  float: left;
}

.logo-text {
  color: white;
}

.display-linebreak {
  white-space: pre-line;
}
